<p>Bookmark Manager</p>

<form action='/add' method='post'>
  <label for='url'>Add address:</label>
  <input type='text' name='title' placeholder='Title'>
  <input type='text' name='url' placeholder='Url'>
  <input type='submit' value='Add bookmark'>
</form>
<form action='/bookmarks'>
  <input type='submit' value='View bookmarks'>
</form>